:root{
  --bg-body: #db0606;
  --bg-header: #466173;
  --bg-footer: #dadbfb;
  --border-feature: #7a7ef0;

  --btn-gradient: #49b800;
  --btn-gradient-start: color(var(--btn-gradient) blackness(10%));
  --btn-gradient-end: color(var(--btn-gradient) lightness(+80%)hue(10%));

  --fontSize: 18px;
}

/* -- Custom Media queries */
@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 650px);
@custom-media --desktop (max-width: 800px);
@custom-media --retina (-webkit-min-device-pixel-ratio: 2);
